* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    border: none;
}

// $boxcolor1: #0E8784;
// $boxcolor2: #2C343E;
// $numcolor: #FDD6BA;
// 
// $font_color1: #83888F;
// $font_color2: #333D4B;